node_modules
dist
.env.local
.env.*.local
android/.gradle
android/build
android/app/build
android/local.properties
android/captures
android/app/google-services.json
android/**/*.keystore
android/**/*.jks
android/keystore.properties
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/capacitor-cordova-android-plugins
.DS_Store
